[mui-bar] {
  display: grid;
  grid-template-columns: repeat(var(--length), 1fr);
  background-color: var(--color-surface-container);

  [mui-bar-item] {
    display: grid;
    text-align: center;
    justify-content: center;

    [mui-bar-item-label] {
      font: var(--font-label-md);
      color: var(--color-on-surface-variant);
    }

    &[aria-selected="true"] {
      [mui-button],
      [mui-icon-button] {
        color: var(--color-on-secondary-container) !important;
        background-color: var(--color-secondary-container);
      }

      [mui-bar-item-label] {
        color: var(--color-secondary);
      }
    }
  }

  &[aria-orientation="horizontal"] {
    [mui-bar-item] {
      gap: var(--spacing-4);
      padding-block: calc(var(--spacing-8) - var(--spacing-2));

      & > [mui-icon-button] {
        width: 56px;
        height: 32px;
        border-radius: var(--radius-lg);
      }
    }
  }

  &[aria-orientation="vertical"] {
    [mui-bar-item] {
      padding-block: var(--spacing-12);

      & > [mui-button] {
        height: 40px;
        gap: var(--spacing-4);
        font: var(--font-label-md);
        border-radius: var(--radius-lg-inc);
        color: var(--color-on-surface-variant);
        padding: var(--spacing-8) var(--spacing-16);
      }
    }
  }
}
