[mui-rail] {
  width: 80px;
  padding-block: 44px;
  background-color: var(--color-surface-container);
  display: flex;
  gap: 40px;
  align-items: center;
  flex-direction: column;

  &:has([data-alignment="center"]) {
    [mui-rail-body] {
      flex: 2;
      justify-content: center;
    }
  }

  &:has([data-alignment="bottom"]) {
    justify-content: space-between;
  }

  [mui-rail-header],
  [mui-rail-body] {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
  }

  [mui-rail-body] {
    [mui-rail-item] {
      display: grid;
      text-align: center;
      gap: var(--spacing-4);
      justify-content: center;

      [mui-rail-item-label] {
        font: var(--font-label-md);
        color: var(--color-on-surface-variant);
      }

      &:has([mui-rail-item-label]) {
        [mui-icon-button] {
          width: 56px;
          height: 32px;
          border-radius: var(--radius-lg);
        }
      }

      &[aria-selected="true"] {
        [mui-icon-button] {
          color: var(--color-on-secondary-container);
          background-color: var(--color-secondary-container);
        }

        [mui-rail-item-label] {
          color: var(--color-secondary);
        }
      }
    }
  }
}
