[mui-layout="nav"] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 50;
  position: sticky;
  inset-block-start: 0;
  padding: var(--spacing-24) 7%;
  background-color: var(--color-background);

  .sm-links {
    display: none;
  }

  .group-box {
    display: grid;
    gap: var(--spacing-24);
    padding-block-end: var(--spacing-24);

    .links-group {
      display: grid;
      gap: var(--spacing-24);

      .group-title {
        text-transform: uppercase;
        font: var(--font-title-md);
      }

      .links {
        display: grid;
        gap: var(--spacing-8);

        &:has(.sub-links) {
          gap: var(--spacing-16);
          padding-inline-start: var(--spacing-24);
        }

        .link-title {
          text-transform: uppercase;
          font: var(--font-label-md);
        }

        [mui-button] {
          width: 100%;
          justify-content: start;
        }

        .sub-links {
          padding-inline-start: var(--spacing-16);
          border-inline-start: 1px dashed var(--color-outline-variant);
        }
      }
    }
  }

  & > [mui-button-group]:last-child {
    align-items: center;

    .beta-badge {
      display: flex;
      align-items: center;
      font: var(--font-label-sm);
      padding: var(--spacing-2) var(--spacing-8);
      color: var(--color-on-error-container);
      background-color: var(--color-error-container);
      border-radius: var(--radius-xs);
    }
  }

  @media (max-width: 769px) {
    .sm-links {
      display: flex;
    }

    .lg-links {
      display: none;
    }
  }

  @media (max-width: 1024px) {
    padding: var(--spacing-24);
  }
}
