@import url("./_base/tokens.css");
@import url("./layout/navigation.css");
@import url("./layout/footer.css");
@import url("./pages/docs.css");
@import url("./pages/home.css");
@import url("./misc/shape.css");
@import url("./misc/code.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

html {
  scroll-behavior: smooth;
  scroll-padding-block: calc(82px + var(--spacing-12));
}

body {
  font: var(--font-body-md);
  color: var(--color-on-background);
  background-color: var(--color-background);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  & > main {
    flex: 2;
    padding-inline: 7%;

    @media (max-width: 1024px) {
      padding-inline: var(--spacing-24);
    }
  }
}

[mui-icon] {
  &[data-filled="true"] {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  }
}

[mui-logo] {
  clip-path: circle();
}
